.add-new-product{
    .add-new-product-form{
        .add-icon{
            font-size: 25px;
            cursor: pointer;
        }
        .selected-countries{
            .selected-country-box{
                .country-name{
                    font-size: 14px;
                }
            }
        }
    }
}