.add-new-product{
    .add-new-product-form{
        .select-country-box{
            .countries-list{
                height: 200px;
                overflow: auto;
                li{
                    padding: 10px;
                    font-size: 14px;
                    cursor: pointer;
                    &:hover{
                        background-color: #CCC;
                    }
                }
            }
        }
        .add-icon{
            font-size: 25px;
            cursor: pointer;
        }
        .selected-countries{
            .selected-country-box{
                .delete-icon{
                    cursor: pointer;
                    font-size: 22px;
                }
            }
        }
    }
}