.add-new-product .add-new-product-form .add-icon {
  font-size: 25px;
  cursor: pointer;
}

.add-new-product .add-new-product-form .selected-countries .selected-country-box .country-name {
  font-size: 14px;
}
