.add-new-product .add-new-product-form .select-country-box .countries-list {
  height: 200px;
  overflow: auto;
}

.add-new-product .add-new-product-form .select-country-box .countries-list li {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.add-new-product .add-new-product-form .select-country-box .countries-list li:hover {
  background-color: #CCC;
}

.add-new-product .add-new-product-form .add-icon {
  font-size: 25px;
  cursor: pointer;
}
