:root{
    --main-color-one: #6A017A;
    --main-color-two: #00ffe1;
    --main-color-three: #dfb762;
}

body{
    background-color: var(--main-color-one);
    &[lang="en"], &[lang="tr"], &[lang="de"] {
        font-family: 'Montserrat', sans-serif;
        direction: ltr;
    }
    &[lang="ar"] {
        font-family: 'Cairo', sans-serif;
        direction: rtl;
    }
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: #FFF;
    text-decoration: none;
}

input, textarea, select, checkbox{
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    width: 100%;
    font-size: 11px !important;
    &::placeholder{
        color: #FFF;
    }
    &:focus{
        outline: none;
        border-color: #00F;
    }
}

.page{
    min-height: 100vh;
}

.w-fit{
    width: fit-content;
}

.global-button{
    font-size: 11px;
}

.not-found-error{
    color: #FFF;
    min-height: 300px;
    .sorry-icon{
        font-size: 70px;
    }
}

.password-field-box,
.email-field-box,
.confirm-password-field-box,
.current-password-field-box,
.new-password-field-box,
.confirm-new-password-field-box,
.code-field-box,
.new-password-field-box,
.product-name-field-box,
.select-sort-type-box,
.website-owner-password-field-box{
    position: relative;
    .icon-box{
        position: absolute;
        &.ar-language-mode{
            left: 15px;
        }
        &.other-languages-mode{
            right: 15px;
        }
        top: 50%;
        transform: translateY(-50%);
        .icon{
            font-size: 22px;
            cursor: pointer;
        }
    }
    &.error-in-field{
        .icon-box{
            transform: translateY(-80%);
        }
    }
}

.select-sort-type{
    text-indent: 18px;
}

.filters-and-sorting-box{
    width: 100%;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 100%;
        gap: 30px;
    }
}

.managment-table{
    td, th{
        border: 1px solid;
        padding: 15px;
        text-align: center;
        font-size: 11px;
    }
}

.managment-table{
    background-color: #FFF;
    textarea{
        height: 150px;
    }
    h6{
        font-size: 13px;
    }
}

.order-details{
    .rest-info{
        p{
            font-size: 13px;
        }
    }
}

.filters{
    h6{
        font-size: 12px;
    }
}

.loading-box{
    height: 100vh;
    background-color: var(--main-color-one);
}

.loader, .loader-page {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.navigate-to-up-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    background-color: var(--main-color-two);
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    &:hover{
        background-color: #000;
        color: #FFF;
    }
}

.contact-icons-box{
    position: fixed;
    left: 30px;
    bottom: 30px;
    cursor: pointer;
    .contact-icons-list{
        .contact-icon-item{
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border-radius: 50%;
            background-color: var(--main-color-two);
        }
    }
    .contact-icon, .close-icon, .whatsapp-icon, .mail-icon{
        font-size: 35px;
        color: #000;
    }
}

.form-field-error-box{
    border-radius: 3px;
}

.customer-dashboard{
    .page-content{
        .container-fluid{
            > .row{
                @media (max-width: 1199px) {
                    row-gap: 40px;
                    padding-bottom: 40px;
                }
                .row{
                    @media (max-width: 1199px) {
                        row-gap: 40px;
                    }
                }
            }
        }
    }
}

.order-total{
    font-size: 14px;
    .total{
        border-bottom: 2px dashed #FFF;
        @media (max-width: 767px) {
            gap: 15px;
        }
    }
    .checkout-link{
        background-color: var(--main-color-two);
        color: #000;
        border: 5px solid #FFF;
        border-top-left-radius: 20px;
        
        &:hover{
            background-color: var(--main-color-one);
            color: #FFF;
        }
    }
    @media (max-width: 767px) {
        text-align: center !important;
    }
}

.pagination-bar{
    .current-page-number-and-count-of-pages{
        font-size: 14px;
    }
    .pagination-icon{
        font-size: 25px;
        cursor: pointer;
        &:hover{
            background-color: #dc3545;
            color: #FFF;
            font-size: 25px;
        }
    }
    .pagination-button{
        font-size: 14px;
        border-radius: 50%;
        border: none;
        font-weight: bold;
        &.selection{
            background-color: var(--main-color-one);
            color: #FFF;
        }
    }
    .navigate-to-specific-page-form{
        .page-number-input{
            font-size: 14px;
        }
    }
}

.data-box{
    .data-table{
        th, td{
            padding: 20px;
            border: 1px solid #FFF;
            color: #FFF;
            font-size: 13px;
            width: 40px;
        }
    }
}

.select-language-box{
    position: relative;
    .languages-list{
        position: absolute;
        top: 120%;
        right: 0;
        z-index: 1;
        background-color: var(--main-color-two);
        width: 150px;
        .language-item{
            cursor: pointer;
        }
    }
}

.customer-favorite-products-list, .customer-wallet-products-list{
    .favorite-products-list-for-user, .wallet-products-list-for-user{
        .favorite-products-table-for-user, .wallet-products-table-for-user{
            .managment-favorite-products-icon, .managment-wallet-products-icon{
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
    .not-found-any-favorite-products-for-user, .not-found-any-wallet-products-for-user{
        color: #FFF;
        .sorry-icon{
            font-size: 100px;
        }
    }
}

.admin-dashboard{
    background-color: #FFF;
    .page-content{
        min-height: 100vh;
        background-color: #EEE;
        h1{
            font-size: 25px;
            text-align: center;
        }
        .filters{
            .row{
                row-gap: 20px;
                > div{
                    @media (min-width: 1199px) {
                        display: flex;
                        align-items: center;
                    }
                    h6{
                        @media (max-width: 1199px) {
                            margin-bottom: 15px;
                        }
                        @media (min-width: 1200px) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .admin-dashbboard-form{
            width: 50%;
            @media (max-width: 767px) {
                width: 100%;
            }
            @media (min-width: 768px) and (max-width: 1199px) {
                width: 75%;
            }
        }
        .admin-dashbboard-data-box{
            overflow: auto;
            height: calc(100vh - 250px);
            @media (max-width: 991px) {
                margin-bottom: 30px;
            }
        }
        .admin-dashbboard-data-table{
            width: 100%;
            &.products-table{
                width: 150%;
            }
            @media (max-width: 991px) {
                width: 300%;
            }
        }
    }
}

.table-for-mobiles-and-tablets{
    th, td{
        border: 1px solid;
        padding: 15px;
    }
    th{
        width: 25%;
    }
    td{
        text-align: center;
    }
}

.section-data-box{
    row-gap: 40px;
}

.public-form{
    width: 50%;
    @media (max-width: 767px) {
        width: 100%;
        padding: 1rem !important;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        width: 75%;
    }
}

.select-box{
    .options-list{
        height: 200px;
        overflow: auto;
        li{
            padding: 10px;
            font-size: 14px;
            cursor: pointer;
            &:hover{
                background-color: #CCC;
            }
        }
    }
}

.remove-icon{
    cursor: pointer;
    font-size: 22px;
}

.table-loader-box{
    height: 200px;
}

.table-loader-data{
    width: 48px;
    height: 48px;
    border: 5px dotted #000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

@keyframes bounce {
    0% , 50% , 100%{
        transform: translate(-50%, 0px);
        height: 20px;
    }
    20% {
        transform: translate(-25%, 85px);
        height: 28px;
    }
    25% {
        transform: translate(-25%, 110px);
        height: 12px;
    }
    70% {
        transform: translate(-75%, 85px);
        height: 28px;
    }
    75% {
        transform: translate(-75%, 108px);
        height: 12px;
    }
}

@keyframes rotate {
    0% , 50% , 100%{ transform: rotate(0deg)}
    25% { transform: rotate(90deg)}
    75%{ transform: rotate(-90deg)}
}